* {
    box-sizing: border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
.logo
{
    font-family: "Changa One", cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0.75em;
}

h2 {
    font-size: 1.5rem;
    margin: .75em;
}
p {
    line-height: 1.5;
}

a{
    color: #e71d36;
    text-decoration: none;
}

header {
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

.logo {
    color: #2ec4b6;
    text-align: center;
    font-size: 1.7rem;
}

.actif {
    color: #fdfffc;
}

header .metier {
    margin-top: -10px;
    color: #e71d36;
}

header nav {
    text-align: center;

}

header nav ul {
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.figure {
    display:inline-block;
    vertical-align: top;
    margin-outside: 2.5%;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img  {
    width: 100%;
    height: auto;
}

.footer {
    padding-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 0;
    width: 50px;
    margin: 0 15px;
    filter: grayscale(1);
    transition: filter 500ms linear;
    filter: grayscale(0);
}
