@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: #2ec4b6;
}

header nav ul li.actif a {
    color: #fdfffc;
}

h1,
h2,
h3,
.logo
{
    font-family: "Changa One", cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0.75em;
}

h2 {
    font-size: 1.5rem;
    margin: .75em;
}
p {
    line-height: 1.5;
    text-align: left;
    margin: 0.75em
}

a{
    color: #e71d36;
    text-decoration: none;
}

header {
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

.logo {
    color: #2ec4b6;
    text-align: center;
    font-size: 1.7rem;
}



header .metier {
    margin-top: -10px;
    color: #e71d36;
}

header nav {
    text-align: center;
    font-family: "Changa One", cursive;

}

header nav ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    position: relative;
    left: 435px;
}

.figure {
    display:inline-block;
    vertical-align: top;
    margin-outside: 2.5%;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: lightgray;
    border-radius: 8px;
}

img  {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    vertical-align: top;
}

img {
    width: 100%;
    height: auto;
}

.caption {
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

footer {
    padding-top: 50px;
    align-content: center;
}

.footer nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer nav ul li {
    display: inline;
    margin: 40px 60px;
    position: relative;
    top: 30px;
}

.footer nav ul li img {
    width: 50px;
    filter: grayscale(1);
    transition: filter 500ms linear, transform 300ms ease-in-out;
}

.footer nav ul li img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;  /* Center the images */
}

.gallery li {
    display: inline-block;  /* Use inline-block to align images side by side */
    width: 45%;  /* Set the width to 45% to fit two images per row */
    margin: 2.5%;  /* Add 2.5% margin around the list items */
    vertical-align: top;  /* Align items by the top */
}

.gallery .figure {
    margin: 0;
}

.gallery img {
    width: 100%;  /* Make images responsive */
    height: auto;  /* Maintain the aspect ratio */
}

.gallery figcaption {
    padding: 10px;  /* Add padding around the caption */
    font-size: 1rem;  /* Set the font size for captions */
    overflow: hidden;  /* Hide overflow text */
    text-align: center;  /* Center the caption */
}

.photo-laure {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 660px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
}

.e {
    align-content: center;
    text-align: center;
}

.contact-icon {
    display: inline;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: -15px;
}
.contact-icon img {
    left: auto;
}
